*{
    margin: 0;
    box-sizing: border-box;
}

.popo-body{
    background-color: #FFF8F1;
    background-image: url('./key_pattern.png');
    background-repeat: repeat;
    background-blend-mode:soft-light ;
}

a{
    text-decoration:none !important;
    cursor: pointer;
}

/*Font*/

h1[class]{
    font-size: 48px;
    margin-right: 5px;
}

h3[class]{
    font-size: 30px;
}

h5[class]{
    font-size: 20px;
    line-height: 180%;
}

p[class]{
    font-size: 20px;
    line-height: 180%;
}

span{
    font-size: 16px;
    line-height: 180%;
}

/*Top*/

.TopFont{
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
    writing-mode:vertical-rl;
    color: #575D67;
}

.place{
    position: absolute;
    top:50px;
    left: 50px;
}

.circle{
    width: 1000px;
    height: 1000px;
    background-color: #Ffffff;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -530px auto 0 auto;
}

.chest{
    width: 400px;
    height: auto;
}

@keyframes p-fade-in {
    from {
      opacity: 0;
      margin-top: 50px;
    }
    to {
      opacity: 1;
      margin-top: 100px;
    }
}

.topBox{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    opacity: 0;
    animation-name: p-fade-in;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-fill-mode:forwards;
}

.topFontBox-right{
    display: inline-flex;
    align-items: flex-start;
}

/*分隔線*/

.divider{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 100px auto;
}

/*刪
.divider > div:first-child{
    opacity: 0;
}

.divider > div:last-child{
    opacity: 0;
}
/*刪*/

.divider-center{
    display: inline-block;
    align-items: center;
    margin: 0 50px;
}

.dividerStone{
    height: 30px;
}

.dividerFont{
    display: inline-block;
    font-family: 'Noto Serif TC', 'Noto Sans TC', sans-serif;
    font-weight: 100;
    color: #b79f90;
}

.divider span{
    margin-left: 20px;
}

/*work*/

@keyframes work-fade-in {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
}

body > div:nth-of-type(3){
    opacity: 0;
    animation-name: work-fade-in;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode:forwards;
}

.mockup{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 450px;
}

.mockupWidth img{
    width: 100%;
    transition: all 1s ease-out;
}

.mockupWidth img:hover{
    width: 107%;
}

.mockupHeight img{
    height: 100%;
    transition: all 1s ease-out;
}

.mockupHeight img:hover{
    height: 107%;
}

.title{
    font-size: 62px;
    font-family: 'Noto Serif', 'Noto Serif TC', serif;
    font-weight: 600;
    color: #DD8181;
}

.mockupFont{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: #575D67;
}

.tag{
    display: inline-block;
    color: #73a2c3;
    padding: 0 15px;
    border: 1px solid #73a2c3;
    border-radius: 32px;
    background-color: white;
}

.work p{
    width: 200px;
}

.workDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.work{
    display: flex;
}

/*排圖*/

div:nth-of-type(3) .mockup{
    width: 70%;
    object-fit: cover;
}

div:nth-of-type(4) .mockup{
    width: 600px;
    object-fit: cover;
}

div:nth-of-type(4) .work div:first-child {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 20px;
}

div:nth-of-type(4) .work div:last-child {
    align-self:flex-end
}

div:nth-of-type(4) .work p {
    width: 145px;
}

div:nth-of-type(4) .work{
    width: fit-content;
    margin: 0 auto;
}

div:nth-of-type(5) .mockup{
    width: 70%;
    object-fit: cover;
}

div:nth-of-type(4) .work{
    width: fit-content;
    margin: 0 auto;
}

div:nth-of-type(5) .work{
    justify-content: flex-end;
}

div:nth-of-type(5) .work div:first-child {
    display: inline-flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 20px;
}

div:nth-of-type(5) .work p {
    width: 248px;
}

div:nth-of-type(6) .mockup{
    width: 60%;
    object-fit: cover;
}

div:nth-of-type(6) .work{
    justify-content: center;
}

/*其他作品*/

.otherwork{
    display: block;
    text-align: center;
}

.otherwork div:first-of-type{
    display: block;
}

/* owlcarousel */
.item{
    height: 300px;
    overflow: hidden;
}

.item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.5s;
    transition-timing-function:ease-out;
}

.item > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gallery > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.5s;
    transition-timing-function:ease-out;
}

.gallery:hover > img{
    height: 110% !important;
}

.item:hover > img{
    height: 110% !important;
}


.popo-nav button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #AEA1C3;
    margin:10px;
    color: #AEA1C3;
    background-color: #FDFDFD;
}

.popo-nav{
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.popo-carousel{
    margin-top: 80px;
}

.fancybox-infobar{
    display: none;
}

.fancybox-toolbar{
    display: none;
}



/* About me */
.work_item:last-of-type{
    position: relative;
}

.aboutMe{
    text-align:center;
}

.aboutMe div{
    margin: 80px 0;
}

.aboutMe div:last-of-type{
    margin-bottom: 150px;
}

.aboutMe h2:last-of-type{
    margin-bottom: 150px;
}

.aboutMe img{
    margin: 150px 0;
}

.decor{
    position: absolute;
    z-index: -1;
}

.decor:first-of-type{
    left: 0;
}

.decor:nth-of-type(2){
    right:0;
}


/*menu*/

.menu-open{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: block;
    top:0;
    left: 100%;
    background-color: #FFF8F1;
    transition: all 1s;
    z-index: 5;
}

.menu{
    position: fixed;
    top:50px;
    right: 50px;
    width: 40px;
    height: 30px;
    transition: all 1s;
    z-index: 10;
}

.cls-1{
    transition: all 0.2s;
}

.menu:hover .cls-1{
    stroke:black;
}

.menu-close{
    position: fixed;
    top:50px;
    right: 50px;
    height: 30px;
    opacity: 0;
    transition: all 1s;
}

.menu-close:hover .cls-1{
    stroke:black;
}

.menu-title{
    font-size: 40px;
    font-family: 'Noto Serif', 'Noto Serif TC', serif;
    font-weight: 300;
}

.menu-item{
    height: 170px;
    color: #DD8181;
    display: flex;
    margin-bottom: 50px;
    transition: all 1s ease-out;
}

.menu-item:hover{
    height: 220px;
}

.menu-item > div{
    text-align: right;
}

.menu-item img{
    width: 350px;
    height: 100%;
    object-fit: cover;
    margin-left: 30px;
}

.menu-tag{
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid #DD8181;
    border-radius: 32px;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

.menu-items{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin-right: 150px;
    margin-top: calc(-100vh + 50px);

}


.menu-me{
    height: calc(100vh);
    width: fit-content;
    position:sticky;
    top: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    color: #DD8181;
    text-align: right;
    line-height: 200%;
}

.menu-me p{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: #DD8181;
}

.menu-me img{
    width: 200px;
    margin: 0 auto;
}

/* cursor 

#cursor{
    position: fixed;
    z-index:99;
    pointer-events: none;
}

#cursor > div{
    height: 20px;
    width: 20px;
    background-color:#ffe007;
    border-radius: 50%;
    position: fixed;
    z-index:99;
}*/


/*rwd*/

@media (max-width: 1260px) and (min-width: 990px){
    /*menu*/
    .menu-title{
        font-size: 30px;
    }

    .menu-close{
        height: 20px;
    }

    .menu-items{
        margin-right: 100px;
    }

}

@media (max-width: 800px) {
.divider > div:first-child{
    display: none;
}

.divider > div:last-child{
    display: none;
}
}

@media (max-width: 990px) and (min-width: 414px) {
.chest{
    width: 300px;
}

.circle{
    width: calc(100vw);
    height: calc(100vw);
    margin-top: -55%;
}

.place{
    display: none;
}

/*font*/

.title{
    font-size: 52px;
}

h1[class]{
    font-size: 38px;
}

h3[class]{
    font-size: 20px;
}

h5[class]{
    font-size: 16px;
    line-height: 180%;
}

p[class]{
    font-size: 16px;
    line-height: 180%;
}

span{
    font-size: 14px;
    line-height: 180%;
}

/*work*/

.mockup{
    height: 350px;
}

div:nth-of-type(4) .mockup{
    width: 400px;
}

div:nth-of-type(5) .work p {
    width: 210px;
}

.decor{
    height: 70%;
}


/*menu*/
.menu{
    height: 20px;
    width: auto;
}

.menu-close{
    height: 20px;
}


.menu-me{
    position:static;
    width: auto;
}

.menu-items{
    margin-right: 0;
    margin-top: 50px;
}

.menu-open > div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
}

@media (max-width: 765px) and (min-width: 414px) {

.chest{
    width: 220px;
}

.circle{
    width: calc(100vw);
    height: calc(100vw);
    margin-top: -55%;
}

/*work*/
.dividerStone{
    height: 20px;
}

.divider{
    margin: 75px auto 50px auto;
}

.work{
    flex-direction: column;
    align-items: center;
}

.workDiv {
    margin: 30px 0;
}

.mockup{
    width: 100% !important;
}

div:nth-of-type(5) .work{
    flex-direction: column-reverse;
}

div:nth-of-type(4) .mockup img{
    width: 100%;
    height: auto;
}

div:nth-of-type(4) .mockup:hover img{
    width: 107%;
    height: auto;
}

div:nth-of-type(4) .work{
    width: 100%;
}

div:nth-of-type(4) .work div:first-child {
    align-items: flex-start;
    order: 2;
}

div:nth-of-type(4) .work div:nth-child(2) {
    order: 2;
}

div:nth-of-type(4) .work div:last-child {
    align-self:center;
    order: 3;
    margin-left: -100px;
    margin-top: -30px;
}

div:nth-of-type(5) .work div:first-child {
    align-items: flex-start;
}

.workDiv p{
    width: 220px !important;
}

.decor{
    display: none;
}

}

@media (max-width: 414px){

.popo-body{
    background-image: none;
}

/*top*/
.chest{
    width: 200px;
    margin: 30px;
}

.topBox{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@keyframes p-fade-in {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
      margin-top: 50px;
    }
}

.TopFont{
    writing-mode: horizontal-tb;
}

.topFontBox-right{
    flex-direction: column-reverse;
    align-items: center;
}

.circle{
    width: calc(100vw);
    height: calc(100vw);
    margin-top: -55%;
}

.place{
    display: none;
}

/*font*/

.title{
    font-size: 52px;
}

h1[class]{
    font-size: 38px;
}

h3[class]{
    font-size: 20px;
}

h5[class]{
    font-size: 16px;
    line-height: 180%;
}

p[class]{
    font-size: 16px;
    line-height: 180%;
}

span{
    font-size: 14px;
    line-height: 180%;
}

.menu-title{
    font-size: 35px;
}

.menu-tag{
    font-size: 16px;
    padding: 0px 10px;
}

.menu-me p{
    font-size: 16px;
}

.menu-me > h2{
    font-size: 24px;
}

/*work*/
.dividerStone{
    height: 20px;
}

.divider{
    margin: 50px auto;
}

.work{
    flex-direction: column;
    align-items: center;
}

.workDiv {
    margin: 30px 0;
}

.mockup{
    height: 350px;
}

div:nth-of-type(3) .mockup{
    height: 100%;
    width: 100%;
}

div:nth-of-type(4) .mockup{
    width: 100%;
}

div:nth-of-type(5) .mockup{
    width: 100%;
}

div:nth-of-type(6) .mockup{
    height: 100%;
    width: 100%;
}

div:nth-of-type(4) .work{
    width: 100%;
}

div:nth-of-type(5) .work{
    flex-direction: column-reverse;
}

div:nth-of-type(4) .work div:first-child {
    align-items: flex-start;
    order: 2;
}

div:nth-of-type(4) .work div:nth-child(2) {
    order: 2;
}

div:nth-of-type(4) .work div:last-child {
    align-self:center;
    order: 3;
    margin-left: -100px;
    margin-top: -30px;
}

div:nth-of-type(5) .work div:first-child {
    align-items: flex-start;
}

.workDiv p{
    width: 220px !important;
}

.decor{
    display: none;
}

.divider-center{
    margin: 0px;
}

/*about me*/
.aboutMe h2:last-of-type{
    font-size: 26px;
    font-weight: 100;
    margin: 80px 0;
}

.aboutMe div:last-of-type{
    margin-bottom: 80px;
}

/*menu*/

.menu{
    height: 20px;
    width: auto;
    top:20px;
    right: 20px;
}

.menu-close{
    height: 20px;
    top:20px;
    right: 20px;
}

.menu-me{
    position:static;
    width: auto;
}

.menu-items{
    margin-right: 0;
    margin-top: 50px;
}

.menu-items > a {
    width: fit-content;
}

.menu-open > div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.menu-item{
    width: 80%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto;
}

.menu-item img{
    width: 100%;
    height: 130px;
    margin-left: 0;
}

.menu-item > div{
    text-align: left;
}

.menu-item:hover{
    height: fit-content;
}

/*cursor*/

#cursor{
    display: none;
}

}